@import "../../utils/base.css";

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto 2rem auto;
    /* padding: 0 2rem; */
    height: 5vh;
}

header > * {
    flex-basis: auto;
}
