@import "../../utils/base.css";

.marker-select-container {
    width: 100%;
    background-color: var(--semi-dark-navy);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 10px;
}

.marker-select {
    background-color: var(--dark-navy);
    position: relative;
    z-index: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-gap: 4%;
    padding: 4%;
    transition: all 0.5s ease-in;
    border-radius: 10px;
}

.marker-select div {
    display: flex;
    justify-content: center;
    box-sizing: padding-box;
    height: 54px;
    padding: 10px;
}

.marker-select img {
    height: 100%;
    animation: 0.8s ease-out 1 fadeinAnimation;
}

@keyframes fadeinAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.marker-select[selected-mark="o"]::after {
    content: "";
    background-color: var(--silver);
    width: 44%;
    height: 54px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 4%;
    transition: all 0.2s ease-in;
    border-radius: 10px;
    z-index: -1;
}

.marker-select[selected-mark="x"]::after {
    content: "";
    background-color: var(--silver);
    width: 44%;
    height: 54px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 51.7%; /* should be 52%???? */
    transition: all 0.2s ease-in;
    border-radius: 10px;
    z-index: -1;
}

.marker-select[selected-mark="o"] > button:last-child {
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    border: none;
}

.marker-select[selected-mark="x"] > button:first-child {
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    border: none;
}