@import "../../utils/base";

.score-board {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 10px;
    margin-top: 1rem;
}

.score-board-item {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    flex-basis: calc(33.33% - 3px);
}
