@import '../../utils/base.css';

.tic-tac-toe {
    display: grid;
    width: 90vw;
    grid-template-columns: repeat(3,calc(80vw/3));
    grid-template-rows: repeat(3, calc(80vw/3));
    gap: calc((90vw - 80vw)/(3 - 1));
    margin: 0 auto;
}

.tic-tac-toe > button {
    background-color: var(--semi-dark-navy);
    box-shadow: 0 10px 0 var(--dark-navy-border);
    border-radius: 1rem;
    transition: all 0.05s linear;
}

.tic-tac-toe > button[disabled] {
    box-shadow: 0 5px 0 var(--dark-navy-border);
}